@import url(./fonts/fonts.css);
.body{
  background-color: #1d1d1b;
  font-family: 'Inter';
}
.block1{
  display: flex;
  flex-direction: column;
  width: 100%;
}
.block2{
  display: flex;
  flex-direction: column;
  width: 100%;
}
.block1__image{
  width: 100%;
}
.block2__image{
  width: 100%;
}
.block1__title{
  margin: 0 auto;
  margin-top: 20px;
  width: calc(100% - 30*2px);
  font-size: 26px;
  text-align: center;
  color: #cfa971;
}
.block1__title:nth-child(3){
  margin-bottom: 20px;
}
@media screen and (max-width: 500px) {
  .block1__title{
    font-size: 18px;
  }
}
.block2__title{
  margin: 0 auto;
  margin-top: 20px;
  width: calc(100% - 30*2px);
  font-size: 26px;
  text-align: center;
  color: #cfa971;
}
.block2__title2{
  margin: 0 auto;
  margin-top: 20px;
  width: calc(100% - 30*2px);
  font-size: 26px;
  text-align: center;
  color: #cfa971;
  margin-bottom: 20px;
}
@media screen and (max-width: 500px) {
  .block2__title, .block2__title2{
    font-size: 18px;
  }
}
.block1__lists{
  display: flex;
  flex-direction: column;
  color: white;
  list-style-type: decimal;
  font-size: 20px;
  margin-top: 20px;
  width: calc(100% - 50*2px);
  margin: 0 auto;
  margin-top: 30px;
  text-align: justify;
  padding-left: 20px;
}
@media screen and (max-width: 500px) {
  .block1__lists{
    font-size: 16px;
  }
}
.block2__lists{
  display: flex;
  flex-direction: column;
  color: white;
  list-style-type: decimal;
  font-size: 20px;
  margin-top: 20px;
  width: calc(100% - 50*2px);
  margin: 0 auto;
  margin-top: 20px;
  padding-left: 20px;
  text-align: justify;
}
@media screen and (max-width: 500px) {
  .block2__lists{
    font-size: 16px;
  }
}
.block1__list{
  margin-top: 10px;
}
.block2__list{
  margin-top: 10px;
}
.block1__subtitle{
  margin: 0;
  font-size: 26px;
  text-align: center;
  color: #cfa971;
}
.block2__subtitle{
  margin: 0;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 26px;
  text-align: center;
  color: #cfa971;
}
@media screen and (max-width: 500px) {
  .block2__subtitle{
    font-size: 18px;
  }
}
.block2__lists2{
  margin: 0 auto;
  color: white;
  list-style-type: decimal;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  color: white;
  list-style-type: decimal;
  font-size: 20px;
  margin-top: 20px;
  width: calc(100% - 50*2px);
  text-align: justify;
  padding-left: 20px;
}
.block2__list2{
  margin-top: 10px;
}
@media screen and (max-width: 500px) {
  .block2__lists2{
    font-size: 16px;
  }
}
.button {
  padding: 20px 80px;
  background: #ba9c80;
  color: #ffffff;
  text-decoration: none;
  font-size: 24px;
  font-weight: 600;
  border-radius: 10px;
  position: relative;
  overflow-x: hidden;
  margin: 0 auto;
  margin-bottom: 20px;
}
@media screen and (max-width: 500px) {
  .button{
    font-size: 18px;
  }
}

.button .flare {
  position: absolute;
  top: 0;
  height: 100%;
  width: 45px;
  transform: skewX(-45deg);
  animation: flareAnimation;
  left: -150%;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.4));
  animation: flareAnimation 3s infinite linear;
}
@keyframes flareAnimation {
  0% {
      left: -150%;
  }
  100% {
      left: 150%;
  }
}