.body-main {
  background-color: rgb(0, 0, 0);

}

.wrapper-main {
  margin: 0 auto;
  /* height: 100vh; */
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top;
}

.main {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  position: relative;
  max-width: 500px;
}

.main__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 800px;
  z-index: -1;
  filter: brightness(0.7);
}

.main__title {
  margin: 0 auto;
  color: #cfa971;
  margin-top: 20px;
  text-align: left;
  font-size: 24px;
  width: calc(100% - 30px);
}

.button {
  text-decoration: none;
  margin: 0 auto;
  padding: 15px 15px;
  color: rgb(0, 0, 0);
  background: #cfa971;
  font-weight: 600;
  border-radius: 10px;
  position: relative;
  overflow-x: hidden;
  margin-top: 440px;
  font-weight: 900;
  width: calc(100% - 35*2px);
  text-align: center;
  
}

.button2 {
  text-decoration: none;
  margin: 0 auto;
  padding: 15px 15px;
  color: rgb(0, 0, 0);
  background: #cfa971;
  font-weight: 600;
  border-radius: 10px;
  position: relative;
  overflow-x: hidden;
  margin-top: 40px;
  font-weight: 900;
  width: 100px;
  text-align: center;
  width: calc(100% - 35*2px);
}

.button3 {
  text-decoration: none;
  margin: 0 auto;
  padding: 15px 15px;
  color: rgb(0, 0, 0);
  background: #cfa971;
  font-weight: 600;
  border-radius: 10px;
  position: relative;
  overflow-x: hidden;
  margin-top: 40px;
  font-weight: 900;
  width: 100px;
  text-align: center;
  width: calc(100% - 35*2px);
}
.button:first-child {
  margin-top: 340px;
}

.button:nth-child(2) {
  margin-top: 80px;
}
.button:nth-child(6) {
  margin: 0 auto;
  margin-top: 20px;
  width: 120px;
}
.button:nth-child(7) {
  margin: 0 auto;
  width: 120px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.button:nth-child(8) {
  margin: 0 auto;
  margin-top: 20px;
  width: 120px;
}
.button:nth-child(9) {
  margin: 0 auto;
  width: 120px;
  margin-top: 20px;
  margin-bottom: 20px;
}
@media screen and (max-width: 500px) {
  .button {
    font-size: 16px;
  }
}

.button .flare {
  position: absolute;
  top: 0;
  height: 100%;
  width: 45px;
  transform: skewX(-45deg);
  animation: flareAnimation;
  left: -150%;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.4));
  animation: flareAnimation 3s infinite linear;
}

.button2 .flare {
  position: absolute;
  top: 0;
  height: 100%;
  width: 45px;
  transform: skewX(-45deg);
  animation: flareAnimation;
  left: -150%;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.4));
  animation: flareAnimation 3s infinite linear;
}


@keyframes flareAnimation {
  0% {
    left: -150%;
  }

  100% {
    left: 150%;
  }
}

/* body-about-us */

.body-about-us {
  background-color: black;
}

.about-us-wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 20px;
  width: calc(100% - 30*2px);
}

.about-us__title {
  margin: 0;
  font-size: 26px;
  text-align: center;
  color: #c3aa5b;
  font-weight: 900;
}

.about-us__subtitle {
  margin: 0;
  margin-top: 20px;
  font-size: 26px;
  text-align: center;
  color: #c3aa5b;
  font-weight: 400;
}

.about-us__text {
  margin: 0;
  margin-top: 20px;
  font-size: 26px;
  text-align: center;
  color: #c3aa5b;
  font-weight: 400;
}

.about-us__lists1 {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  list-style-type: decimal;
  font-size: 20px;
  margin-top: 20px;
  padding-left: 20px;
  color: #c3aa5b;
}

.about-us__list1 {
  margin-top: 15px;
}

.about-us__lists2 {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  list-style-type: decimal;
  font-size: 20px;
  margin-top: 20px;
  padding-left: 20px;
  color: #c3aa5b;
}

.about-us__list2 {
  margin-top: 15px;
}

/* about-me-wrapper */

.body-about-me {
  background-color: black;
}

.about-me-wrapper{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 20px;
  width: calc(100% - 30*2px);
}
.about-me__title{
  margin: 0;
  font-size: 26px;
  text-align: center;
  color: #c3aa5b;
  font-weight: 900;
}
.about-me__subtitle{
  margin: 0;
  margin-top: 20px;
  font-size: 26px;
  text-align: center;
  color: #c3aa5b;
  font-weight: 400;
}
.about-me__text{
  margin: 0;
  margin-top: 20px;
  font-size: 26px;
  text-align: center;
  color: #c3aa5b;
  font-weight: 400;
}
.about-me__lists{
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  list-style-type: decimal;
  font-size: 20px;
  margin-top: 20px;
  padding-left: 20px;
  color: #c3aa5b;
}
.about-me__list{
  margin-top: 15px;
}