.button2 {
  text-decoration: none;
  margin: 0 auto;
  padding: 15px 15px;
  color: rgb(0, 0, 0);
  background: #cfa971;
  font-weight: 600;
  border-radius: 10px;
  position: relative;
  overflow-x: hidden;
  margin-top: 40px;
  font-weight: 900;
  width: 100px;
  text-align: center;
  width: calc(100% - 35*2px);
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
}

.button2 .flare {
  position: absolute;
  top: 0;
  height: 100%;
  width: 45px;
  transform: skewX(-45deg);
  animation: flareAnimation;
  left: -150%;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.4));
  animation: flareAnimation 3s infinite linear;
}

@keyframes flareAnimation {
  0% {
    left: -150%;
  }

  100% {
    left: 150%;
  }
}